nav i.material-icons {
  display: block;
  font-size: 50px;
  height: 56px;
  line-height: 56px;
  margin-left: 10px;
}

.page-footer {
  font-size: 0.9rem;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

#esp-footer {
  margin: 0;
}

div.card {
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  /* width: 250px; */
  padding: 10px;
  margin: 5px;
}

.card .card-stacked {
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .card-action {
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .card-image img {
  max-width: 200px;
  border-radius: 6px;
}

main {
  display: flex;
  background-color: #f7f7f7;
}

.main-content {
  margin: 0 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#tab-repo {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

#tab-repo .card {
  margin-bottom: 10px;
  flex: 1 1 500px;
}
#tab-repo .card:hover {
  background-color: #90a4ae;
}
#tab-repo .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#tab-repo .card .card-action {
  display: flex;
  justify-content: space-between;
}
#tab-adicionais {
  margin-top: 10px;
}

#tab-adicionais ul {
  display: flex;
  flex-wrap: wrap;
}
#tab-adicionais ul li {
  flex: 1 1 250px;
}

main aside.menu-lateral {
  width: 0%;
  height: 100vh;
}

main div.conteudo {
  margin: 0;
  width: 100vw;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #90a4ae;
}
tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(230, 200, 202, 0.2);
}

.tabs .tab a {
  color: #26a69a;
}
.tabs .indicator {
  background-color: #26a69a;
}

@media only screen and (min-width: 400px) {
  main aside.menu-lateral {
    width: 40%;
  }
  .main-content {
    align-items: initial;
    justify-content: initial;
  }
}

@media only screen and (max-width: 400px) {
  nav .brand-logo i {
    display: none !important;
  }
}

@media only screen and (min-width: 540px) {
  main aside.menu-lateral {
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  main aside.menu-lateral {
    width: 20%;
  }
  main div.conteudo {
    margin: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .page-footer {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  main aside.menu-lateral {
    width: 15%;
  }
}

@media only screen and (min-width: 1400px) {
  main aside.menu-lateral {
    width: 10%;
  }
}

.collection {
  margin: 0;
  border: none;
}

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 1px 8px;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 6px;
}

.collection.with-header .collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
  margin: 0 8px;
  border-radius: 6px;
}

.header-conteudo {
  margin-top: 15px;
}

button[name="pesquisar"] {
  margin: 10px 0 0 0;
}
